<div id="simple-table" class="page-layout simple fullwidth doc-page element-doc-page">

     <div class="content">
       <div class="widget-group" layout="row" flex="100" layout-wrap>

         <!-- WIDGET 11 -->
         <ms-widget layout="row" flex="100">

           <!-- Front -->
           <ms-widget-front class="white-bg">

             <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
               <div class="h2">Dance Trainers</div>
               <div class="text-boxed red-bg white-fg m-0">{{vm.widget11.table.rows.length}}
                 dance trainers
               </div>
             </div>

             <table class="dataTable row-border hover" datatable="ng"
                    dt-options="vm.widget11.dtOptions">
               <thead>
               <tr>
                 <th class="secondary-text"
                     ng-repeat="column in ::vm.widget11.table.columns">
                   <div class="table-header">
                     <span class="column-title">{{column.title}}</span>
                   </div>
                 </th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="row in ::vm.widget11.table.rows">
                 <td ng-repeat="cell in row">
                   <img class="avatar" ng-if="$index === 0"
                        ng-src="assets/images/avatars/{{cell}}">
                   <span ng-if="$index != 0">
                                                    {{cell}}
                                                </span>
                 </td>
               </tr>
               </tbody>
             </table>

           </ms-widget-front>
           <ms-widget-front class="white-bg">

             <div class="p-24 mb-8 border-bottom" layout="row" layout-align="space-between center">
               <div class="h2">Schools</div>
               <div class="text-boxed red-bg white-fg m-0">{{vm.widget11.table.rows.length}}
                 Schools
               </div>
             </div>

             <table class="dataTable row-border hover" datatable="ng"
                    dt-options="vm.widget11.dtOptions">
               <thead>
               <tr>
                 <th class="secondary-text"
                     ng-repeat="column in ::vm.widget11.table.columns">
                   <div class="table-header">
                     <span class="column-title">{{column.title}}</span>
                   </div>
                 </th>
               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="row in ::vm.widget11.table.rows">
                 <td ng-repeat="cell in row">
                   <img class="avatar" ng-if="$index === 0"
                        ng-src="assets/images/avatars/{{cell}}">
                   <span ng-if="$index != 0">
                                                    {{cell}}
                                                </span>
                 </td>
               </tr>
               </tbody>
             </table>

           </ms-widget-front>
           <!-- / Front -->

         </ms-widget>
         <!-- / WIDGET 11 -->

       </div>

    </div>
    <!-- / CONTENT -->

</div>
